.home__page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home__title {
  font-size: 20px;
  margin-bottom:30px;
  margin-top:50px;
}

.home__authenticate {
  font-size: 16px;
  margin-bottom: 20px;
}

.user__header {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width:35%;
  padding: 10px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.flash-error {
  color: darkred;
  margin-top: 25px;
	margin-bottom: 20;
  font-size: 16px;
  text-align: center;
}
